html
  head
    title Blog App
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    nav(class="navbar navbar-light bg-faded")
      a(href="/" class="navbar-brand")='William Saidac | Admin Panel '

      nav(class="navbar-nav float-xs-right")
        a(class="nav-item nav-link active" href="/admin/entries")='Edit'
        a(class="nav-item nav-link active" href="/admin/entries/new")='New'
        a(class="nav-item nav-link active" href="/register")='Register'
        a(class="nav-item nav-link active" href="/login")='Log in'
        a(class="nav-item nav-link active" href="/logout")='Log out'




    block content

    script(src='/js/jquery-3.1.1.js')
    script(src='/js/bootstrap.min.js')
